.table-container {
    overflow-x: auto;
    margin: 20px 0;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    min-width: 1000px; /* Adjust this value based on the number of columns */
}

.data-table th, .data-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.data-table th {
    background-color: #212A31;
    color: #FFCB9A;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.pagination button:hover {
    background-color: #45a049;
}
