/* styles/CategoryPage.module.css */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    background: black;
  }
  
  .heading {
    margin-top: 80px;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color:  #56b6fe;

  }
  .banner p{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    
  }
  .dropdownContainer {
    
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Increased margin */
  }
  
  .label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2em; /* Increased font size */
  }
  
  .select {
   
    width: 200px;
    padding: 10px;
    font-size: 1.2em; /* Increased font size */
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Remove default arrow */
    background: #111827;
    color: #748D92;
    font-weight: 300;
  }
  
  .select:focus {
    border-color: #0070f3;
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
    outline: none;
  }
  
  .select option {
    padding: 10px;
    background-color: #111827;;
    color: #333;
    font-size: 1.2em; /* Increased font size */
  }
  
  .select option:hover,
  .select option:focus {
    background-color: #0070f3;
    color: white;
  }
  
  .selectedCategory {
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
  }
  
  /* Custom dropdown arrow */
  .select::-ms-expand {
    display: none; /* Remove default arrow in IE */
  }
  
  .select:after {
    content: '▼'; /* Custom arrow */
    position: absolute;
    right: 10px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: #0070f3;
  }
  
  /* Styles for the new section */
  .additionalFilters {
    margin-right: 30px;
    padding: 40px 0px;
    border-radius: 30px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #212A31;
    align-items: center;
  }
  
  .additionalFilters .dropdownContainer {
    margin-bottom: 10px; /* Reduce margin for compact layout */
  }
  
  .datePicker {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .datePicker input[type="date"] {
    padding: 10px;
    font-size: 1.2em; /* Match font size */
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #fff;
    color: #333;
    -webkit-appearance: none; /* Remove default styling in Safari */
  }
  
  .datePicker input[type="date"]::-webkit-inner-spin-button,
  .datePicker input[type="date"]::-webkit-clear-button {
    display: none; /* Remove default styling in Chrome */
  }
  
  .datePicker input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: calc(50% - 0.5em);
    color: #0070f3;
  }
  
  .datePicker input[type="date"]:focus {
    border-color: #0070f3;
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
    outline: none;
  }
  
  .chartContainer {
    width: 60%;
    margin-top: 40px;
    margin-left: 20px;
  }
  .tab{
    border: 2px solid red;
    text-align: center;
  }
  .slick-slider {
    
    text-align: center;
    margin: 4rem auto; /* Add margin */
  }
  
  .sliderContainer {
    background-color: #111827;
    width: 80%; /* Decrease width */
    padding: 40px;
    margin: 4rem auto; /* Center content */
    border-radius: 30px;
  }
  .sliderTab {
    height: 100px; /* Increase height */
    width: 120px; /* Further decrease width */
    padding-top:20px ;
    text-align: center;
    border-radius: 10px;
    background-color: #212A31;
    --tw-shadow: 0px 35px 120px -15px #211e35;
    --tw-shadow-colored: 0px 35px 120px -15px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    font-size: 1.5em; /* Increase font size */
     /* Add horizontal gap */
  }
  
  
  
  #realTimePricing {
    padding: 20px;
    background-color: #212A31;
    color: white;
  }
  
  .price_card {
  background-color: #124E66;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 0;
  }
  
  .price_card:hover {
    background-color: #555;
  }
  
  #contactUs {
    text-align: center;
    padding: 20px;
  }
  
 
  .Container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search_container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search_input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
    width: 500px;
    height: 30px;
    background-color: #111827 ;
    color:white;
  }
  .search_input:focus{
    border-color: #0070f3;
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
    outline: none;
  }
  
  .search_button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 0 20px 20px 0;
    background-color:#E85A4F;
    color: white;
    cursor: pointer;
    height: 52px;
  }
  
  .search_button:hover {
    background-color: #45a049;
  }
  .input{
    width: 180px;
    padding: 10px;
    font-size: 1.2em; /* Increased font size */
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Remove default arrow */
    background: #111827;
    color: #748D92;
    font-weight: 300;
  }
  .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .chart{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    margin-bottom: 30px;
  }
  .cta_button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #124E66;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    text-decoration: none;
  }
  .cta_button:hover {
    background: #0056b3;
    transform: scale(1.1);
  }